<div class="col-lg-3 col-lg-offset-1" ng-init="ctrl.getAllMatches()">
    <div class="row text-center">
        <div class="col-lg-12">
            <h3>Add New Bet</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label for="email-id">Select Match</label>
            <select class="form-control" ng-options="ctrl.getMatchName(match) for match in ctrl.matches" ng-model="ctrl.selectedMatch"></select>
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Select Team</label>
            <select class="form-control" ng-options="class as class.Name for class in ctrl.matches" ng-model="ctrl.selectedMatch"></select>
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Select Amount</label>
            <select class="form-control" ng-options="class as class.Name for class in ctrl.matches" ng-model="ctrl.selectedMatch"></select>
        </div>
    </div>
    <div class="row mts">
        <div class="col-lg-12">
            <label for="email-id">Roll Number</label>
            <input id="email-id" type="text" class="form-control" ng-model="ctrl.Model.RollNumber">
        </div>
    </div>
    <div class="row mtl">
        <div class="col-lg-12">
            <button class=" btn btn-primary col-lg-12" ng-click="ctrl.addStudent()">Add New Student</button>
        </div>
    </div>
</div>
